@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');

* {
    margin: 0;
}

body {
    height: 100vh;
}

main {
    width: 100%;
    background-color: rgba(128, 128, 128, 0.31);
    background-image: url(./imgs/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-blend-mode: multiply;
    display: block;
    height: 100%;
    text-align: center;
}

.title {
    font-family: 'Pinyon Script', cursive;
    font-size: 5em;

    padding-top: 5vh;
    padding-bottom: 5vh;
    color: rgb(208, 0, 0);
}

.message{
    font-size: 2.5em;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

p {
    color: white;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 2em;

}

.display-game{
    visibility: hidden;
}

.main-buttons {
    display: block;
    margin: 0.25rem auto;
    width: 50%; 
    padding: 1rem;
    text-align: center;
    color: rgb(1, 1, 1);
    width: 18.75rem;
    font-weight: 700;
    font-size: 1.5em;
    background: goldenrod;
    border: none;
    border-radius: 2px;
}

#new-card-button{
    display: inline-block;
    visibility: hidden;
    width: 9.150rem;
    padding: 0.5rem;
}

#stand-button{
    display: inline-block;
    visibility: hidden;
    width: 9.150rem;
    padding: 0.5rem;
}